.css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: #F8F6E3;
  color: #ffffff;
  font-size: 18px;
}

.css-wop1k0-MuiDataGrid-footerContainer {
  background-color: #fdfdfd;
}

.css-gejkw3-MuiDataGrid-root {
  background-color: #fdfdfd;
}